@font-face {
	font-family: 'Conv_eurof55';
	src: url('../fonts/eurof55.eot');
	src: local('☺'), 
	url('../fonts/eurof55.woff') format('woff'),
	url('../fonts/eurof55.ttf') format('truetype'),
	url('../fonts/eurof55.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: local('☺'),
	url('../fonts/Roboto-Light.woff') format('woff'),
	url('../fonts/Roboto-Light.ttf') format('truetype'),
	url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_3967';
	src: url('../fonts/3967.eot');
	src: local('☺'), 
	url('../fonts/3967.woff') format('woff'),
	url('../fonts/3967.ttf') format('truetype'),
	url('../fonts/3967.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*  //////////////////////         ///////////////////////////     */

body {
    background: #FBFBFB;
    font-family: "Conv_Roboto-Light", sans-serif;
    font-weight: 300;
}
h1 {
    font-weight: 500;
    margin: 0;
    font-family: "Conv_eurof55", sans-serif;
}
h6{
    font-size: 12px;
    font-weight: 400;
}
h2 {
    font-weight: 500;
    font-family: "Conv_eurof55", sans-serif;
}
.logotype {
	padding-bottom: 30px;
    border-bottom: 1px solid #F4F4F4;
}
.logo {
	padding-top: 40px;
}
.logo-2 {
    min-width: 570px;
}
.info a {
    text-decoration: none;
}
.info-box {
    display: block;	
    height: 100%;
    width: 90%;
    border-bottom: 1px solid #F4F4F4;
    overflow: hidden;
} 
.info-box1 {
    display: block;	
    overflow: hidden;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Conv_Conv_Roboto-Light-Light",sans-serif;
    font-weight: 300;
}
.info-box1 a{
    white-space: nowrap;
    box-sizing: border-box;
    min-width: 178px;
}
.info-select-box {
    display: block;
    position: relative;
    width: 160px;
    overflow: hidden; 
    font-family: "Conv_Conv_Roboto-Light-Light",sans-serif;
    font-weight: 300;
    color: #919191;
    float: left;
}
.info-select-box option {
    font-family: "Conv_Conv_Roboto-Light-Light",sans-serif;
    font-weight: 300;
    color: #919191;   
}
.info-select-box .select-cursor {
    position: absolute;
    top: -6px;
    right: 135px;
    font-size: 23px;
}
.select-cursor {
    display: block;
    position: absolute;
    right: 5px;
    top: 18px;
    font-size: 35px;
    pointer-events: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.select-info-box {
    font-size: 15px;
    width: 111%;
    padding-left: 28px;
    background: #FBFBFB;
    border: none;
    cursor: pointer;
    outline: none;
    color: #4A4A4A;
}
.info-box1 .personal-account {
    display: inline-block;
    min-width: 140px;   
}
.personal-account a {
    font-size: 15px;
    color: #4A4A4A;
    padding-left: 20px;
    background: url(../images/personal-account.png) no-repeat 0px 4px;
}
.add-company a {
    font-size: 15px;
    color: #4A4A4A;
    padding-left: 23px;
    background: url(../images/add-company.png) no-repeat 0px 2px;
}

.slogan {
    float: left;
	width: 100%;
    min-height: 200px;
}
.slogan .slogan-box {
	height: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
.slogan-box h1{
    font-size: 70px;
    text-align: center;
    padding-top: 34px;
}
.slogan-box h1 span{
    color: #E11F2A;
}
.slogan-box p{
    display: block;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: #909090;
    padding: 10px 15px;
    text-align: center;
    font-family: "Conv_Roboto-Light",sans-serif;
    font-weight: 300;
}
/*   //////////////////////////      кнопки выбора        //////////////////////      */

.select {    
	width: 100%;    
    background: #848683;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 29px;
    letter-spacing: 30px;
    margin-bottom: -166px;
    position: relative;
    z-index: 1;
    opacity: 0.87;
}
.select:hover{
    opacity: 1;
}
.select-box {
	display: inline-block;
    position: relative;   
    overflow: hidden;
    border-radius: 6px; 
    padding-bottom: 33px;
    width: 260px;
}
.select-box .select-box1 {
    display: block;
    overflow: hidden;
	height: 44px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    
}
.select-box a{
    display: block;
    position: absolute;
    color: #fff;
    letter-spacing: normal;
    left: 65px;
    bottom: 0;
}
.select-box a:hover {
    text-decoration: underline ;
}
.select-box select option {
    padding-left: 10px;
    color: #848683;
}
.select .select-box:last-child {
	width: 263px;
}
.select-cursor {
	display: block;
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 35px;
    pointer-events: none;
    -webkit-transform: rotate(90deg); // разворот элемента для разных бразуеров
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.select-avto {
	width: 107%;
    height: 100%;
    padding-left: 20px;
    background: #fbfbfb;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 7px;
    letter-spacing: normal;
}
.select-work {
    width: 107%;
    height: 100%;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 7px;
    letter-spacing: normal;
}
.select-button {
    display: block;
	width: 260px;
    height: 44px;
    background: #de1e29;
    border: 1px solid #de1e29;
    color: #fff;
    font-family:  "Conv_eurof55", sans-serif;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
}
.select-button:hover {
   background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de1e29+1,db6b71+45,207cca+100,207cca+100,de1e29+100&1+0,0.97+100 */
background: -moz-linear-gradient(top,  rgba(222,30,41,1) 0%, rgba(222,30,41,1) 1%, rgba(219,107,113,0.99) 45%, rgba(222,30,41,0.97) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e29', endColorstr='#f7de1e29',GradientType=0 ); /* IE6-9 */
    
    box-shadow: 1px 1px 0px 1px #812c30;
    -webkit-box-shadow: 1px 1px 0px 1px #812c30;
    -moz-box-shadow: 1px 1px 0px 1px #812c30;
    -ms-box-shadow: 1px 1px 0px 1px #812c30;
    -o-box-shadow: 1px 1px 0px 1px #812c30;  
}
.select-button:active{
    border: none;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de1e29+1,db6b71+45,207cca+100,207cca+100,de1e29+100&1+0,0.97+100 */
background: -moz-linear-gradient(top,  rgba(222,30,41,1) 0%, rgba(222,30,41,1) 1%, rgba(219,107,113,0.99) 45%, rgba(222,30,41,0.97) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e29', endColorstr='#f7de1e29',GradientType=0 ); /* IE6-9 */
}

/*    ///////////////////////        Значения иконок       ///////////////         */

.marker {
    background: #FBFBFB;
    overflow: hidden;
}
.marker-box1 {
    overflow: hidden;
}
.marker-box1  ul{
    display: block;
    max-width: 1000px;
    list-style: none;
    padding-top: 60px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.marker-box1  ul li {
    margin-bottom: 29px;
    padding-left: 40px;
    position: relative;
}
.marker-box1  ul li img{
    display: block;
    position: absolute;
    top: -5px;
    left: 0px;
}
.marker-box1  ul li:last-child img {
    top: -11px;
    left: -8px;
}

/*     ///////////////////////       Конец значений иконок      //////////////////     */

/*      //////////////////////      Инструкция для пользователя  //////////////////   */

.instruction {
	width: 100%;
    min-height: 458px;
    background: #F4F4F4;
}
.instruction-box1 h2 {
	text-align: center;
    font-size: 48px;
    padding-top: 60px
}
.instruction-box1 h2 span {
    color: #e11f2a;
}
.instruction-box1 p{
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    color: #828282;
}
.instruction-box2 {
	width: 100%;
}
.instruction-box2 .instruction-note {
    min-width: 300px;
    text-align: center;
    color: #7B7B7B;
    padding-top: 100px;
    margin-right: -4px;
    
}
.istruction-content{
    display: inline-block;
    max-width: 300px;
    padding-bottom: 85px;
}
.istruction-content img {
    width: 131px;
    height: 142px;
    display: block;
    float: left;
    margin-left: 21%;
}
.instruction-note span {    
    font-size: 100px; 
    line-height: 88px;
    margin-right: 10px;
    font-family: "Conv_3967", sans-serif;
    font-weight: 100;
}
.instruction-note p {
	display: block;
    float: right;
    width: 230px;
    text-align: left;
    font-size: 16px;
    min-height: 72px;
    margin-bottom: 46px;
    font-family: "Conv_3967", sans-serif;
    color: #343434;
}

/*     //////////////////      Конец Инструкция для пользователя   //////////////     */

/*      /////////////////     Предоставляемые услуги         ///////////////////       */

.servises {
	width: 100%;
    min-height: 458px;
    padding: 0 15px;
}
.servises-box1 {
    display: block;
    overflow: hidden;
    margin-bottom: 90px;
}
.servises-box1 h2 {
	text-align: center;
    font-size: 48px;
    padding-top: 60px
}
.servises-box1 h2 span {
    color: #e11f2a;
}
.servises-box1 p{
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    color: #828282;
}
.servises-box2,.servises-box3 {    
    padding-bottom: 70px;
    min-height: 400px;   
    overflow: hidden;
}
.servises-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 675px;
}
.servises-content img {
    display: block;
    position: absolute;
    top: 0px;
}
.servises-content h3 {
	display: block;
    font-size: 23px;
    color: #353535;
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #353535;
    float: left;
}
.servises-content p {
    color: #5D5D5D;
    font-size: 16px;
    margin-bottom: 20px;
    font-style: italic;
    font-family: "Conv_Roboto-Light", sans-serif;
    padding-left: 40px;
    padding-top: 10px;
    background: url(../images/for-avtovladel.jpg) no-repeat 0px 1px;
}

/*       ////////////////////        Конец предоставляемых услуг      ////////////      */

/*       //////////////////        Сейчас ищут             ////////////////               */
.now-search {
	background: #F4F4F4;
}
.now-search h2 {
    text-align: center;
    font-size: 48px;
    padding-top: 60px;
}
.now-search h2 span {
    color: #e11f2a;
}
.now-search p {
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    color: #828282;
    margin-bottom: 50px;
}
.now-search ul {
    display: block;
    list-style: none;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.now-search ul li {
    padding: 10px 0;
    color: #4B4B4B;
}
.now-search ul li:nth-child(4n+1) {
    opacity: 0.15;
}
.now-search ul li:nth-child(even) {
    opacity: 0.4;
}
.now-search ul li:nth-child(3) {
    background: #ffffff;
    border-bottom: 1px solid #5A7191;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.now-search-left {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    text-align: right;
    padding-right: 6px;
}
.now-search-button {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.now-search-button span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #828282;
}
.now-search-button1 {
    display: block;
    width: 260px;
    height: 44px;
    background: #de1e29;
    border: 1px solid #de1e29;
    border-radius: 6px;
    color: #fff;
    font-size: 23px;
    outline: none;
    font-family: "Conv_eurof55", sans-serif;
    font-weight: 700;
}
.now-search-button1:hover {
    box-shadow: 1px 1px 0px 1px #812c30;
    -webkit-box-shadow: 1px 1px 0px 1px #812c30;
    -moz-box-shadow: 1px 1px 0px 1px #812c30;
    border: none;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de1e29+1,db6b71+45,207cca+100,207cca+100,de1e29+100&1+0,0.97+100 */
background: -moz-linear-gradient(top,  rgba(222,30,41,1) 0%, rgba(222,30,41,1) 1%, rgba(219,107,113,0.99) 45%, rgba(222,30,41,0.97) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e29', endColorstr='#f7de1e29',GradientType=0 ); /* IE6-9 */
}
.now-search-button2 {
    display: block;
    width: 260px;
    height: 44px;
    background: #FBFBFB;
    border: 1px solid #4A74A6;
    border-radius: 6px;
    color: #4A74A6;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
/*        //////////////////////       Конец Сейчас ишут         /////////////              */


/*        ///////////////////////     Footer - Подвал      ///////////////////////     */

footer {
    min-height: 394px;
    width: 100%;
    background: #353535;
}
.footer {
	width: 100%;
    min-height: 343px;
}
.footer h6 {
	color: #fff;
}
.footer-box1{
    height: 100%;
    padding-left: 200px;
}
.footer-box1 h6{
    margin-top: 50px;
    margin-bottom: 15px;
}
.footer-box1 .self-room {
    margin-top: 25px;
}
.footer-box1 .footer-content{ 
    
    min-width: 200px;
}

.footer-content ul {
    list-style: none;  
}
.footer-content ul li a {
    font-size: 12px;
}
.footer-content:first-child ul li:nth-child(3){
    margin-bottom: 15px;
}
.footer-content:nth-child(2) ul li:nth-child(2){
    margin-bottom: 15px;
}
.footer-content:nth-child(2) ul li:nth-child(7){
    margin-bottom: 15px;
}
.footer-content ul a {
	color: #D4D4D4;
    text-decoration: none;
    font-size: 14px;
}
.footer-content ul a:hover{
    text-decoration: underline;
}
.footer-box2{
    height: 100%;     
}
.footer-box2 h6:first-child{
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.footer-box2 .qwestion{
    display: block;
    position: relative;
    margin-left: 40px;
}
.footer-box2 .qwestion h6 {
    display: block;
    float: left;
    border-bottom: 1px dashed #666666;
    padding-bottom: 5px;
    margin-left: 35px;
}
.footer-box2 .qwestion img{
    display: block;
    position: absolute;
    top: 8px;
    left: 4px;
}
.footer-box2 ul {
	list-style: none;
    padding-left: 40px;   
    margin-bottom: 30px;
}
.footer-box2 ul li{
    display: inline-block;
    padding-right: 17px;
}
.footer-box2 ul li a img{
    border-radius: 50%;
}
.copyright {
	min-height: 50px;
    width: 90%;
    border-top:  1px solid #585858;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}
.copyright p{
    color: #585858;
    text-align: center;
    padding-top: 15px;
    vertical-align: bottom;
}

