@font-fase {
    font-family: eurofurence; /* Имя шрифта */
    src: url(fonts/eurofurence.ttf); /* Путь к файлу со шрифтом */
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: #FBFBFB;
    font-family: eurofurence;
}
h6{
    font-size: 17px;
}
header{
    background: #FBFBFB;
}
.clearfix:after {
	content: "";
    display: table;
    clear: both;
}
/*                                   Шапка сайта                                       */
.logo {
	width: 50%;
    height: 144px;
    float: left;
    min-width: 340px;
}
.logo .logo-box {
	float:right;
    height: 100%;
    width: 90%;
    border-bottom: 1px solid #F4F4F4;
} 
.logo-box a{
    display: block;
    width: 203px;
    margin-left: 16%;
    margin-top: 41px;
}
.info {
	width: 50%;
    height: 144px;
    float: right;
}
/*               Меню сайта            */
.info .menu {
	display:block;
    width: 30%;    
    margin-left: 48px;
    overflow: hidden;
    float: left;
    padding-top: 60px;
}
.info nav ul {
    list-style: none;
    color: #919191;
}
.main-menu {
    min-width: 150px;
}
.menu .sub-menu {
	display: none;
    position: absolute;
    z-index: 1;
    
}

.main-menu>li span {
    display: inline-block;
    position: relative;
    padding-left: 49px;
	font-size: 17px;
    color: #919191;
    background: url(images/menu.png) no-repeat 0px 2px;
    cursor: pointer;
}

.main-menu>li:hover .sub-menu {
	display: block;
}
.sub-menu li {
	background: #F4F4F4;
    
    border: 1px solid #848683;
    margin-bottom: -1px;
}
.sub-menu li a:hover {
    background: #4a74a6;
    color: #fff;
}
.sub-menu li a{
    display: inline-block;
    width: 150px;
    padding: 10px 15px;
    text-align: center;
    color: #919191;
}
/*               Конец меню               */
.info a {
    text-decoration: none;
}
.info .info-box {
    display: block;	
    height: 100%;
    width: 90%;
    border-bottom: 1px solid #F4F4F4;
    overflow: hidden;
} 
.info .info-box1 {
    display: block;	
    overflow: hidden;
    padding-top: 60px;
}
.info-select-box {
    display: block;
    position: relative;
    width: 160px;
    overflow: hidden; 
    font-family: "Times New Roman";
    color: #919191;
    float: left;
}
.info-select-box option {
    font-family: "Times New Roman";
    color: #919191;   
}
.info-select-box .select-cursor {
    top: -3px;
    right: 135px;
    font-size: 23px;
}
.select-info-box {
    font-size: 17px;
    width: 111%;
    padding-left: 28px;
    background: #FBFBFB;
    border: none;
    cursor: pointer;
}
.info-box1 .personal-account {
    display: inline-block;
    min-width: 140px;
    margin-left: 20%;
    
}
.personal-account a {
    font-size: 17px;
    color: #919191;
    padding-left: 20px;
    background: url("images/personal-account.png") no-repeat 0px 4px;
}
.slogan {
    float: left;
	width: 100%;
    min-height: 200px;
}
.slogan .slogan-box {
	height: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
.slogan-box h1{
    font-size: 58px;
    text-align: center;
    padding-top: 34px;
}
.slogan-box h1 span{
    color: #E11F2A;
}
.slogan-box p{
    display: block;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #919191;
    padding: 10px 15px;
    text-align: center;
}
/*            Конец шапки сайта           */

/*                                    Начало блока main                                */

/*           Кнопки выбора                 */

.select {    
	width: 100%;    
    background: #848683;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 58px;
    letter-spacing: 30px;
    margin-bottom: -163px;
    position: relative;
    z-index: 1;
    opacity: 0.7;
}
.select:hover{
    opacity: 1;
}
.select-box {
	display: inline-block;
    position: relative;
    height: 44px;
    background: #DE1E29;
    width: 260px;
    overflow: hidden;
    border-radius: 6px;  
}
.select-box select option {
    padding-left: 10px;
    color: #848683;
}
.select .select-box:last-child:hover {
	 box-shadow: 1px 1px 0px 1px #812c30;
    -webkit-box-shadow: 1px 1px 0px 1px #812c30;
    -moz-box-shadow: 1px 1px 0px 1px #812c30;
    
}
.select-cursor {
	display: block;
    position: absolute;
    right: 5px;
    top: 18px;
    font-size: 35px;
    pointer-events: none;
    -webkit-transform: rotate(90deg); // разворот элемента для разных бразуеров
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.select-avto {
	width: 107%;
    height: 100%;
    padding-left: 20px;
    background: #fbfbfb;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 7px;
}
.select-work {
    width: 107%;
    height: 100%;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 7px;
}
.select-button {
    display: block;
	width: 100%;
    height: 100%;
    background: #de1e29;
    border: 1px solid #de1e29;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
.select-button:hover {
   background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de1e29+1,db6b71+45,207cca+100,207cca+100,de1e29+100&1+0,0.97+100 */
background: -moz-linear-gradient(top,  rgba(222,30,41,1) 0%, rgba(222,30,41,1) 1%, rgba(219,107,113,0.99) 45%, rgba(222,30,41,0.97) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e29', endColorstr='#f7de1e29',GradientType=0 ); /* IE6-9 */
}
.select-button:active{
    border: none;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de1e29+1,db6b71+45,207cca+100,207cca+100,de1e29+100&1+0,0.97+100 */
background: -moz-linear-gradient(top,  rgba(222,30,41,1) 0%, rgba(222,30,41,1) 1%, rgba(219,107,113,0.99) 45%, rgba(222,30,41,0.97) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e29', endColorstr='#f7de1e29',GradientType=0 ); /* IE6-9 */
}

/*            Конец кнопок выбора            */

/*            Значения иконок                */

.marker {
	height: 204px;
    background: #FBFBFB;
}
.marker-box1 {
	height: 100%;
    width: 70%;
    float: left;
    overflow: hidden;
}
.marker-box1  ul{
    display: block;
    float: right;
    max-width: 700px;
    list-style: none;
    padding-top: 60px;
}
.marker-box1  ul li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 43px;
    padding-left: 40px;
    position: relative;
}
.marker-box1  ul li img{
    display: block;
    position: absolute;
    top: -5px;
    left: 0px;
}
.marker-box1 ul li:nth-child(3n+1) {
    width: 230px;
}
.marker-box1 ul li:nth-child(3n+2){
    width: 130px;
}
.marker-box2 {
	height: 100%;
    width: 30%;
    float: right;
    min-width: 340px;
    overflow: hidden;
}
.marker-box2 div{
    display: block;
    position: relative;
    margin-top: 94px;
}
.marker-box2 div img{
    display: block;
    position: absolute;
    top: -11px;
}
.marker-box2 div p{
    padding-left: 70px;
}
/*            Конец значений иконок           */

/*            Инструкция для пользователя     */

.instruction {
	width: 100%;
    min-height: 458px;
    background: #F4F4F4;
}
.instruction-box1 h2 {
	text-align: center;
    font-size: 44px;
    padding-top: 60px
}
.instruction-box1 h2 span {
    color: #e11f2a;
}
.instruction-box1 p{
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    color: #828282;
}
.instruction-box2 {
	width: 100%;
}
.instruction-box2 .instruction-note {
	width: 33.3%;
    min-width: 300px;
    display: inline-block;
    text-align: center;
    color: #7B7B7B;
    padding-top: 100px;
    margin-right: -4px;
    
}
.istruction-content{
    display: inline-block;
    max-width: 300px;
}
.instruction-note span {    
    font-size: 80px; 
    line-height: 60px;
    margin-right: 10px;
}
.instruction-note p {
	display: block;
    float: right;
    width: 230px;
    text-align: left;
    font-size: 17px;
}

/*           Конец Инструкция для пользователя        */

/*           Предоставляемые услуги                   */

.servises {
	width: 100%;
    min-height: 458px;
}
.servises-box1 {
    display: block;
    overflow: hidden;
    margin-bottom: 90px;
}
.servises-box1 h2 {
	text-align: center;
    font-size: 44px;
    padding-top: 60px
}
.servises-box1 h2 span {
    color: #e11f2a;
}
.servises-box1 p{
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    color: #828282;
}
.servises-box2,.servises-box3 {
	display: inline-block;
    width: 50%;
    min-width: 500px;
    margin-right: -4px;
    padding-bottom: 70px;
    min-height: 400px;   
    overflow: hidden;
}
.servises-content {
    max-width: 440px;
    min-width: 437px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.servises-content img {
    display: block;
    position: absolute;
    top: 0px;
}
.servises-content h3 {
	display: block;
    font-size: 23px;
    color: #353535;
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #353535;
    float: left;
}
.servises-content p {
    color: #A7A7A7;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    font-style: italic;
}
.servises-box2 .servises-content {
	 margin-left: 25%;
} 
/*               Конец предоставляемых услуг            */

/*               Сейчас ищут                            */
.now-search {
	background: #F4F4F4;
}
.now-search h2 {
    text-align: center;
    font-size: 44px;
    padding-top: 60px;
}
.now-search h2 span {
    color: #e11f2a;
}
.now-search p {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    color: #828282;
    margin-bottom: 50px;
}
.now-search ul {
    display: block;
    list-style: none;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.now-search ul li {
    padding: 10px 0;
    color: #4B4B4B;
}
.now-search ul li:nth-child(4n+1) {
    opacity: 0.15;
}
.now-search ul li:nth-child(even) {
    opacity: 0.4;
}
.now-search ul li:nth-child(3) {
    background: #ffffff;
    border-bottom: 1px solid #5A7191;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.now-search-left {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    text-align: right;
    padding-right: 6px;
}
.now-search-button {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.now-search-button span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #828282;
}
.now-search-button1 {
    display: block;
    width: 260px;
    height: 44px;
    background: #de1e29;
    border: 1px solid #de1e29;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
.now-search-button1:hover {
    box-shadow: 1px 1px 0px 1px #812c30;
    -webkit-box-shadow: 1px 1px 0px 1px #812c30;
    -moz-box-shadow: 1px 1px 0px 1px #812c30;
    border: none;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de1e29+1,db6b71+45,207cca+100,207cca+100,de1e29+100&1+0,0.97+100 */
background: -moz-linear-gradient(top,  rgba(222,30,41,1) 0%, rgba(222,30,41,1) 1%, rgba(219,107,113,0.99) 45%, rgba(222,30,41,0.97) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(222,30,41,1) 0%,rgba(222,30,41,1) 1%,rgba(219,107,113,0.99) 45%,rgba(222,30,41,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e29', endColorstr='#f7de1e29',GradientType=0 ); /* IE6-9 */
}
.now-search-button2 {
    display: block;
    width: 260px;
    height: 44px;
    background: #FBFBFB;
    border: 1px solid #4A74A6;
    border-radius: 6px;
    color: #4A74A6;
    font-size: 20px;
    cursor: pointer;
    
}
/*               Конец Сейчас ишут                       */
/*                                   Footer - Подвал                                */

footer {
    height: 394px;
    width: 100%;
    background: #353535;
}
.footer {
	width: 100%;
    height: 343px;
}
.footer h6 {
	color: #fff;
}
.footer-box1{
    width: 55%;
    height: 100%;
    padding-left: 200px;
    float: left;
}
.footer-box1 h6{
    margin-top: 50px;
    margin-bottom: 15px;
}
.footer-content {
	display: inline-block;
    vertical-align: top;
    width: 30%;
}

.footer-content ul {
    list-style: none;
    line-height: 20px;
}
.footer-content:first-child ul li:nth-child(4){
    margin-bottom: 15px;
}
.footer-content:nth-child(2) ul li:nth-child(2){
    margin-bottom: 15px;
}
.footer-content:nth-child(2) ul li:nth-child(7){
    margin-bottom: 15px;
}
.footer-content ul a {
	color: #D4D4D4;
    text-decoration: none;
    font-size: 18px;
}
.footer-content ul a:hover{
    text-decoration: underline;
}
.footer-box2{
    width: 30%;
    height: 100%;   
    float: right;      
}
.footer-box2 h6:first-child{
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.footer-box2 .qwestion{
    display: block;
    position: relative;
    margin-left: 40px;
}
.footer-box2 .qwestion h6 {
    display: block;
    float: left;
    border-bottom: 1px dashed #666666;
    padding-bottom: 5px;
    margin-left: 35px;
}
.footer-box2 .qwestion img{
    display: block;
    position: absolute;
    top: -0px;
    left: 4px;
}
.footer-box2 ul {
	list-style: none;
    padding-left: 40px;   
    margin-bottom: 30px;
}
.footer-box2 ul li{
    display: inline-block;
    padding-right: 5px;
}
.footer-box2 ul li a img{
    border-radius: 50%;
}
.copyright {
	height: 50px;
    width: 90%;
    border-top:  1px solid #585858;
    margin-left: auto;
    margin-right: auto;
}
.copyright p{
    color: #585858;
    text-align: center;
    padding-top: 15px;
    vertical-align: bottom;
}
